
__pycache__/
*.py[cod]
*$py.class


delme*.json
*.log
result.json
http_response.json
http_response-*.xml
.DS_Store
.env

redis-stable/
wormbase_data/
dist/
output/
*.egg-info/

run_map_wormbase_ids.py